<!-- Nav -->
<nav id="nav">
    <ul>
        <li>
            <a href="{% url 'Home' %}" {% if request.path == '/' %} class="active" {% endif %}>
                <span class="icon fa-home"></span>
            </a>
        </li>
        <li>
            <a href="{% url 'Gallery' %}" {% if 'gallery' in request.path %} class="active" {% endif %}>
                <span class="icon fa-camera-retro"></span>
            </a>
        </li>
        <li>
            <a href="{% url 'Generic' %}" {% if 'generic' in request.path %} class="active" {% endif %}>
                <span class="icon fa-file-text-o"></span>
            </a>
        </li>
    </ul>
</nav>